*{
  font-family: sans-serif;

}

:root{
  background-color: black;
  color: white;
}

.movie-title{
  text-shadow:0px 5px 5px black;
}


@media screen and (max-width:1080px){
  .search-div{
    max-width: 500px;
  }
  .movie-details{
    flex-direction: column;
  }
}


@media screen and (max-width:768px){
  .search-div{
    max-width: 250px;
  }
  .cine-prime{
    font-size: large;
  }
  .search-div{
    max-width: 150px;
  }
}
